<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java Academy</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <aside>
            <nav>
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </aside>

        <main>
            <h1>Welcome to the Java Academy</h1>
            <p>You will learn foundations of Java, OOPs, Spring Boot and Spring MVC here. Below is a link to the registration page:</p>
            
            <h3>Let's get started</h3>
            <a th:href="@{/registration}">Go to Registration Page</a>
        </main>
    </div>
    
    <footer>
        <p>&copy; Java Academy. All rights reserved.</p>
    </footer>
</body>
</html>